/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  background-image: url("img/milky-way.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid yellow;
  border-bottom: 5px solid yellow;
}

@font-face {
    font-family: "Zen Dots";
    src: url("./fonts/ZenDots-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Typography Details */
html {
  font-family: "Zen Dots", serif;
  font-size: 8.5px;
  color: white;
}

h1, h2 {
  font-family: "Zen Dots", sans-serif;
  letter-spacing: 0.2px;
}

h1 {
  font-size: 6rem;
  text-align: center;
  color: orange;
  text-shadow: 4px 4px 10px darkblue;
}

h2 {
  font-size: 4rem;
  color: orange;
  text-shadow: 4px 4px 10px darkblue;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.2px;
  word-spacing: 0.4px;
}

/* Links Styling */
a {
  outline: none;
}

a[href*="http"] {
  padding-right: 19px;
  background: url(external-link-52.png) 100% 0;
  background-size: 16px 16px;
}

a:link,
a:active {
  color: rgb(226, 145, 14); 
}

a:hover {
    color: rgb(13, 8, 155); 
}

a:visited {
  color: rgb(32, 196, 106); 
}

/* Extra Margin Top & Bottom to always give Links the same spacing as Paragraphs */
ul, ol {
  margin: 1.6rem 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-latin;
}

/* Nav Menu */

nav ul {
  padding-left: 0;
  margin-top: 0.8rem;
}

nav li {
  list-style-type: none;
  margin-bottom: 2rem;
}

nav li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: orange;
  line-height: 3;
  text-align: center;
  font-size: 2.5rem;
  border: 4px solid yellow;
  border-radius: 20%;
}

nav li a:focus, nav li a:hover {
  color: orange;
  background: black;
}


